---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <h1>hola mundo</h1>
  <section class="cards">
    <Card
      imagen="/imagesProjects/1.png"
      titulo="card personal information"
      desc="tarjeta para mostrar informacion personal con links de redes sociales"
      demo="/reto1"
      codigo="https://github.com/SylenthMen/100days100projects/tree/main/src/pages/reto1"
    />
    <Card
      imagen="/imagesProjects/2.png"
      titulo="blog preview card"
      desc="muestra una tarjeta con contenido de un blog"
      demo="/reto2"
      codigo="https://github.com/SylenthMen/100days100projects/tree/main/src/pages/reto2"
    />
    <Card
      imagen="/imagesProjects/3.png"
      titulo="product card"
      desc="muestra una tarjeta con productos y descripciones para una tienda virtual responsive"
      demo="/reto3"
      codigo="https://github.com/SylenthMen/100days100projects/tree/main/src/pages/reto3"
    />
    <Card
      imagen="/imagesProjects/4.png"
      titulo="analytic card"
      desc="muestra una tarjeta analiticas para un canal de youtube"
      demo="/reto4"
      codigo="https://github.com/SylenthMen/100days100projects/tree/main/src/pages/reto4"
    />
    <Card
      imagen="/imagesProjects/5.png"
      titulo="Product Preview Card Component"
      desc="tarjeta perfecta para mostrar productos en un comercio electronico"
      demo="/reto5"
      codigo="https://github.com/SylenthMen/100days100projects/tree/main/src/pages/reto5"
    />
  </section>
</Layout>

<style>
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
</style>
