---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>hola mundo</h1>
  <ul>
    <a href="/reto1"><li>reto 1 profile card</li></a>
    <a href="/reto2"><li>reto 2 blog preview card</li></a>
    <a href="/reto3"><li>reto 3 product info</li></a>
  </ul>
</Layout>
