---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="100 dias 100 retos Frontend">
  <h1>hola mundo</h1>
  <section class="cards">
    <Card
      imagen="/imagesProjects/1.png"
      titulo="card personal information"
      desc="tarjeta para mostrar informacion personal con links de redes sociales"
      demo="/reto1"
      codigo="https://github.com/SylenthMen/100days100projects/tree/main/src/pages/reto1"
    />
    <Card
      imagen="/imagesProjects/2.png"
      titulo="blog preview card"
      desc="muestra una tarjeta con contenido de un blog"
      demo="/reto2"
      codigo="https://github.com/SylenthMen/100days100projects/tree/main/src/pages/reto2"
    />
    <Card
      imagen="/imagesProjects/3.png"
      titulo="product card"
      desc="muestra una tarjeta con productos y descripciones para una tienda virtual responsive"
      demo="/reto3"
      codigo="https://github.com/SylenthMen/100days100projects/tree/main/src/pages/reto3"
    />
    <Card
      imagen="/imagesProjects/4.png"
      titulo="analytic card"
      desc="muestra una tarjeta analiticas para un canal de youtube"
      demo="/reto4"
      codigo="https://github.com/SylenthMen/100days100projects/tree/main/src/pages/reto4"
    />
    <Card
      imagen="/imagesProjects/5.png"
      titulo="Product Preview Card Component"
      desc="tarjeta perfecta para mostrar productos en un comercio electronico"
      demo="/reto5"
      codigo="https://github.com/SylenthMen/100days100projects/tree/main/src/pages/reto5"
    />
    <Card
      imagen="/imagesProjects/6.png"
      titulo="Results Summary Component"
      desc="muestra el resumen de resultados"
      demo="/reto6"
      codigo="https://github.com/SylenthMen/100days100projects/tree/main/src/pages/reto6"
    />
    <Card
      imagen="/imagesProjects/7.png"
      titulo="Qr Code Component"
      desc="muestra un codigo qr y una descripcion"
      demo="/reto7"
      codigo="https://github.com/SylenthMen/100days100projects/tree/main/src/pages/reto7"
    />
    <Card
      imagen="/imagesProjects/8.png"
      titulo="NFT Preview Card Component"
      desc="muestra una vista previa de una tarjeta con informacion de un NFT"
      demo="/reto8"
      codigo="https://github.com/SylenthMen/100days100projects/tree/main/src/pages/reto8"
    />
    <Card
      imagen="/imagesProjects/9.png"
      titulo="Order Summary"
      desc="muestra una tarjeta para una suscripcion de pago"
      demo="/reto9"
      codigo="https://github.com/SylenthMen/100days100projects/tree/main/src/pages/reto9"
    />
    <Card
      imagen="/imagesProjects/10.png"
      titulo="Stats Preview Card Component"
      desc="muestra una tarjeta con metricas clave"
      demo="/reto10"
      codigo="https://github.com/SylenthMen/100days100projects/tree/main/src/pages/reto10"
    />
  </section>
</Layout>

<style>
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
</style>
