---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Reto 1 | Card Personal Information">
  <section>
    <article>
      <div class="imagen">
        <img src="/person.jpg" alt="imagen del usuario" />
      </div>
      <div class="textos">
        <h2>nombre de la persona</h2>
        <h3>cargo de la persona</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus,
          porro obcaecati facilis ad repellendus tempore voluptates eum natus
          eius nemo soluta praesentium enim hic tempora ipsam molestias? Fugiat,
          tenetur obcaecati.
        </p>
      </div>
    </article>
    <div class="redes">
      <a href="https:facebook.com/user"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
          ></path></svg
        ></a
      >
      <a href="https://linkedin.com/user"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
          ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"></path><path
            d="M12 16l0 -5"></path><path d="M16 16v-3a2 2 0 0 0 -4 0"
          ></path></svg
        ></a
      >
      <a href="https://x.com/user"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-twitter"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z"
          ></path></svg
        ></a
      >
    </div>
  </section>
</Layout>

<style>
  :root {
    --colorTexto: #fff;
    --colorFondo: #111;
    --colorTarjeta: #222;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: var(--colorFondo);
    color: var(--colorTexto);
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
  }

  article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    max-width: 350px;
    background-color: var(--colorTarjeta);
    border-radius: 15px 15px 0 0;
    justify-content: center;
    align-items: center;
  }

  .imagen img {
    width: 150px;
    border-radius: 50%;
  }

  .textos {
    text-align: center;
  }

  .textos h2 {
    font-weight: 800;
    margin-bottom: 5px;
    text-transform: capitalize;
  }

  .textos h3 {
    font-weight: 100;
    text-transform: capitalize;
    color: #e1e1e1;
    background-color: #111;
    padding: 2px;
    width: 200px;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 15px;
  }

  .textos p {
    font-weight: 100;
    color: #e1e1e1;
    font-size: 14px;
  }

  .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    width: 350px;
    padding: 15px;
    border-radius: 0 0 15px 15px;
    transition: 0.3s all;
  }

  .redes a {
    text-decoration: none;
    color: var(--colorTexto);
  }

  .redes svg:hover {
    cursor: pointer;
    color: aqua;
    scale: 1.1;
  }
</style>
