---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Reto 5 | Product Preview Card Component">
  <article>
    <div class="foto">
      <img src="/reto5/1.jpg" alt="producto" />
    </div>
    <div class="desc">
      <span class="badge">perfume</span>
      <h2 class="prod">Gabrielle Essence Eau De Parfum</h2>
      <p class="text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea laboriosam
        maiores incidunt, earum, mollitia minus reprehenderit
      </p>
      <div class="sale">
        <p class="price">$149.99</p>
        <del class="antes">$169.99</del>
      </div>
      <button class="cart"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path
            d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path
            d="M17 17h-11v-14h-2"></path><path d="M6 5l14 1l-1 7h-13"
          ></path></svg
        > add to cart</button
      >
    </div>
  </article>

  <style>
    :root {
      --colorCard: #fff;
      --primary: #3d8269;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: auto;
      background: #0f2027;
      background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
    }

    article {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--colorCard);
      /*height: 450px;*/
      width: 600px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 2px 5px 20px -4px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 2px 5px 20px -4px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 2px 5px 20px -4px rgba(0, 0, 0, 0.75);
    }

    .foto img {
      /*height: 450px;*/
      width: 300px;
      overflow: hidden;
    }

    .desc {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }

    .desc .badge {
      letter-spacing: 4px;
      text-transform: uppercase;
      font-weight: 200;
      margin-bottom: 20px;
    }

    .desc .prod {
      font-weight: 900;
      margin-bottom: 20px;
      font-size: 35px;
      font-family:
        Cooper Black,
        system-ui;
    }

    .desc .text {
      font-size: 14px;
      font-weight: 300;
      text-transform: capitalize;
      line-height: 20px;
      margin-bottom: 20px;
    }

    .sale {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      font-family:
        Cooper Black,
        system-ui;
    }

    .price {
      color: var(--primary);
      font-weight: 900;
      font-size: 32px;
    }

    .antes {
      margin-left: 25px;
      font-weight: 200;
    }

    .cart {
      padding: 10px;
      background-color: var(--primary);
      color: var(--colorCard);
      border: none;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s all;
      border-radius: 5px;
    }

    .cart svg {
      margin-right: 5px;
    }

    .cart:hover {
      background-color: #0f2027;
      cursor: pointer;
    }

    @media (max-width: 768px) {
      article {
        display: flex;
        flex-direction: column;
        max-width: 400px;
      }

      .foto img {
        height: 300px;
        width: 400px;
      }
    }
  </style>
</Layout>
